@charset "UTF-8";

/*Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgba(0, 255, 255, 0.315);
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(165, 28, 28);
}

menu li{
    background-color: rgba(0, 0, 0, 0.384);
    display: inline-block;
    padding: 10px;
    color: white;
}
p{
    padding: 10px;
}